.loop-packages {
  background-image: url("../../assets/images/loop-packages.png");
  height: 680px;
  width: 100%;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.loop-packages-content {
  position: absolute;
  top: 60%;
}
.loop-packages-text {
  width: 606px;
  height: 138px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.44;
  color: black;
  letter-spacing: 1.6px;
  text-align: left;
}
.loop-packages-title {
  width: 414px;
  height: 36px;
  margin-bottom: 20px;
  flex-grow: 0;
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 4px;
  text-align: left;
  color: #131825;
}
.loop-packages-btn {
  width: 321px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 48px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.loop-card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 99% auto;
  color: #fff;
  /* padding: 20px; */
  /* place-items: center; */
}
.empty-div {
  height: 60%;
}
.package-card {
  width: 369px;
  height: 424px;
  object-fit: cover;
  padding: 0 24px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.month-card {
  background-image: url("../../assets/images/full-month.png");
}
.day-card {
  background-image: url("../../assets/images/full-day.png");
}
.week-card {
  background-image: url("../../assets/images/full-week.png");
}

/* card  */
.packages-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin-bottom: 90px;
  place-items: start;
}
.card-text {
  font-family: Poppins;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  padding: 8px 0;
  line-height: 2;

  letter-spacing: 0.9px;
}
.card-title {
  font-family: Poppins;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;

  letter-spacing: 1.6px;
}

@media screen and (max-width: 1200px) {
  .packages-cards-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    align-items: center;
  }
  .loop-packages-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 800px) {
  .packages-cards-container {
    grid-template-columns: 1fr;
    row-gap: 20px;
    place-items: center;
  }
  .loop-packages-content {
    top: 80%;
  }

  .loop-packages {
    height: 400px;
    padding-top: 50px;
    margin-bottom: 200px;
  }
  .loop-packages-text {
    font-size: 1.2rem !important;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    height: auto;
  }
  .loop-packages-title {
    font-size: 0.8rem !important;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    height: auto;
  }
  .package-card {
    /* padding: 20px; */
    width: max-content;
    /* height: 424px; */
  }
}

@media screen and (max-width: 700px) {
  .loop-packages {
    height: 200px;
  }
  .card-text {
    font-size: 0.9rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .loop-packages-btn {
    width: auto;
    padding: 16px;
  }
}
