.loop-features-text {
  width: 556px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Poppins;
  font-size: 34px !important;
  font-weight: 300;
  line-height: 1.44 !important;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.6px !important;
  text-align: left;
  color: #fff;
  /* border: 1px solid teal; */
  /* margin-bottom: 40px !important; */
}
.loop-features-title {
  padding-top: 144px;

  font-size: 20px !important;
  display: flex;
  font-family: Poppins;
  font-size: 27px;
  font-weight: normal;
  line-height: 1.8 !important;
  letter-spacing: 4px !important;
  margin-bottom: 20px;
  flex-direction: column;
  text-transform: uppercase;
}
.arrow-icon-lg {
  width: 41px;
  height: 36px;
}
.loop-features-btn {
  width: 273px;
  height: 64px !important;
  font-family: Poppins !important;
  flex-grow: 0;
  font-size: 16px !important;
  display: flex;
  gap: 10px;
  flex-direction: row;
  letter-spacing: 0.8px !important;
  text-align: left !important;
  color: #fff;
  padding: 19px !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.loop-featuers {
  margin-top: 124px;
  background-image: url("../../assets/images/loop-featuers.png");
  /* height: 100%; */
  width: 100%;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 74% 28%;
  height: 1280px;
}
.features-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.feature-text {
  width: 352px;
  height: 128px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #fff;
}
.feature-title {
  margin-bottom: 10px;
  height: 32px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  text-align: left;
  color: #fff;
}

.bg-loop-feature {
  display: none;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .feature-text {
    width: auto;
    height: auto;
  }
  .loop-featuers {
    grid-template-rows: 60% 40%;
  }
  .features-container {
    gap: 10px;
  }
  .loop-features-btn {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .features-container {
    padding: 10px;
    width: 100%;
    gap: 10px;

    height: auto;
    top: 0;
  }
  .bg-loop-feature {
    display: block;
  }

  .loop-featuers {
    background-image: none;
    height: 100%;
    grid-template-rows: max-content max-content;
  }
  .loop-features-text,
  .loop-features-title {
    height: auto;
    color: rgb(20, 4, 59);
  }
  .loop-features-title {
    padding-top: 10px;
  }

  .feature-text,
  .feature-title {
    color: black;
    text-align: center;
    width: auto;
    height: auto;
  }
  .feature-text {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .loop-featuers {
    grid-template-rows: max-content auto;
    place-items: end;
    height: 100%;
  }

  .loop-features-title {
    font-size: 1.2rem;
    width: max-content;
    height: auto;
  }

  .loop-features-text {
    /* font-size: 0.9rem !important; */
    width: 100%;
    margin-bottom: 60px;
    height: auto;
  }

  .loop-features-btn {
    /* width: max-content !important;
    height: auto !important; */
  }
}

.feature-move {
  transition: transform 0.9999s ease-out;
}

.feature-move.down {
  transform: translateY(-80px);
}

.feature-move.up {
  transform: translateY(80px);
}
