:root {
  --dark-color: #131825;
  --grean: #38983c;
}
.commitment-section {
  padding-top: 60px;
  background-image: url("../../assets/images/commitment-area.svg");
  width: 100%;
  height: 460px;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  /* grid-template-columns: auto 100% 1fr; */
  align-items: end;
  place-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.compass-container {
  height: 100%;
  width: 15.5%;
  position: relative;
}
.wheel-icon {
  /* top: 0; */
  top: 120px;
  left: -320px;
  position: absolute;
  /* rotate: 360deg;
  width: 740px; */
  height: 670px;
}
.ship-icon {
  width: 78px;
  height: 116px;
}
.commitment-title {
  width: 414px;
  margin-top: 60px;
  height: 36px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 4px;
  text-align: left;
  color: #131825;
}

.image-container {
  transition: transform 0.9s ease-out;
}

.image-container.down {
  transform: translateX(-100px);
}

.image-container.up {
  transform: translateX(100px);
}

.compass.down {
  transform: rotate(80deg);
}

.compass.up {
  transform: rotate(0deg);
}
.yacht-side-icon {
  width: 614px;
  height: 386px;
  /* grid-row: 2; */
  /* border: 2px solid green; */
  /* margin-right: 40px; */
  /* transform: rotate(45deg); */
}
.empty-cell {
  grid-row: 1;
  grid-column: span 3;
}
.container-main {
  padding: 0 9.25rem;
}
.commitment-text {
  width: 754px;
  /* height: 100%; */
  /* height: 238px; */
  margin-bottom: 90px;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: 1.6px;
  text-align: left;
  color: #131825;
}
@media screen and (max-width: 1500px) {
  .commitment-section {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    /* border: 1px solid red; */
    /* place-items: start; */
  }
  .commitment-text {
    grid-row: 3;
  }
  .wheel-icon {
    order: 1;
    top: 580px;
    left: -300px;
    grid-row: 3;
  }
  .yacht-side-icon {
    grid-row: 1;
  }
}
@media screen and (max-width: 800px) {
  .commitment-text {
    font-size: 0.8rem !important;
    width: 100%;
    padding: 0 10px;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
}
